// about.pug
// Made by Ambuj Bhog
// My Portfolio


extends ../views/partials/header 

block content 
    h1= aboutPage

    h5 I like to code. I like to procrastinate. I like dopamine.
  
    include ../views/partials/footer
