// contact.pug
// Made by Ambuj Bhog
// My Portfolio


extends ../views/partials/header 

block content 
    h1= contactPage

    h5 My email is ambuj9bhog@gmail.com
    
    include ../views/partials/footer