extends ../views/partials/header

block content

      h1= title

      p This is my JavaSript project. Click on the links above to read more. 
  
      p My header and footer are dynamically included to each page (using require and include)

      include ../views/partials/footer

