// Index.pug
// Made by Ambuj Bhog
// My Portfolio

extends ../views/partials/header

block content
 
      h1= title

      h4 My Coding Portfolio. 
  
      p I try to code when I'm not procrastinating.

      include ../views/partials/footer

