// projects.pug
// Made by Ambuj Bhog
// My Portfolio


extends ../views/partials/header 

block content 
    h1= Projects

    h5 All my coding projects are listed on github.com/ambujbhog

    
    include ../views/partials/footer